In [921]:
# -*- coding: utf-8 -*
#!/usr/bin/env python3

import json
import datetime as dt
import urllib.request
import pandas as pd
import numpy as np

from sqlalchemy import Column, Integer, Float, String
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import inspect

requestURL = "https://eodhistoricaldata.com/api/eod/"
myEodKey = "5ba84ea974ab42.45160048"

startDate = dt.datetime(2018,1,1)
endDate = dt.datetime(2019,1,31)

backtest_start = dt.datetime(2018,12,31)
backtest_end = dt.datetime(2019,1,31)


def get_daily_data(symbol, start=startDate, end=endDate, requestType=requestURL, apiKey=myEodKey):
    symbolURL = str(symbol) + ".US?"
    startURL = "from=" + str(start)
    endURL = "to=" + str(end)
    apiKeyURL = "api_token=" + myEodKey
    completeURL = requestURL + symbolURL + startURL + '&' + endURL + '&' + apiKeyURL + '&period=d&fmt=json'
#     print(completeURL)
    with urllib.request.urlopen(completeURL) as req:
        data = json.load(req)
        return data
    
def create_pair_table(name, metadata, engine):
	tables = metadata.tables.keys()
	if name not in tables:
		table = Table(name, metadata, 
					Column('symbol', String(50), primary_key=True, nullable=False),
					Column('date', String(50), primary_key=True, nullable=False),
					Column('open', Float, nullable=False),
					Column('high', Float, nullable=False),
					Column('low', Float, nullable=False),
					Column('close', Float, nullable=False),
                       Column('adjusted_close', Float, nullable=False),
					Column('volume', Integer, nullable=False))
		table.create(engine)

def clear_a_table(table_name, metadata, engine):
    conn = engine.connect()
    table = metadata.tables[table_name]
    delete_st = table.delete()
    conn.execute(delete_st)

# def populate_stock_data(tickers, metadata, engine, table_name):
#     conn = engine.connect()
#     table = metadata.tables[table_name]
#     for ticker in tickers:
#         stock = get_daily_data(ticker)
# #         print(stock)
#         for stock_data in stock:
#             #print(k, v)
#             trading_date = stock_data['date']
#             trading_open = stock_data['open']
#             trading_high = stock_data['high']
#             trading_low = stock_data['low']
#             trading_close = stock_data['close']
#             trading_adjusted_close = stock_data['adjusted_close']
#             trading_volume = stock_data['volume']
#             insert_st = table.insert().values(symbol=ticker, date=trading_date,
# 					open = trading_open, high = trading_high, low = trading_low,
# 					close = trading_close, adjusted_close = trading_adjusted_close, 
#                        volume = trading_volume)
#             conn.execute(insert_st)

def execute_sql_statement(sql_st, engine):
    result = engine.execute(sql_st)
    return result

In [922]:
def populate_stock_data(ticker, metadata, engine, table_name):
    conn = engine.connect()
    table = metadata.tables[table_name]

    stock = get_daily_data(ticker)
    for stock_data in stock:
        trading_date = stock_data['date']
        trading_open = stock_data['open']
        trading_high = stock_data['high']
        trading_low = stock_data['low']
        trading_close = stock_data['close']
        trading_adjusted_close = stock_data['adjusted_close']
        trading_volume = stock_data['volume']
        insert_st = table.insert().values(symbol=ticker, date=trading_date,
				open = trading_open, high = trading_high, low = trading_low,
				close = trading_close, adjusted_close = trading_adjusted_close, 
                   volume = trading_volume)
        conn.execute(insert_st)

In [923]:
def build_pair_trading_model():
    # ............
	# ............
  
    return 0

In [924]:
def create_pairs_table(name, metadata, engine):
    tables = metadata.tables.keys()
    if name not in tables:
        table = Table(name, metadata, 
                        Column('ticker1', String(50), primary_key=True, nullable=False),
                        Column('ticker2', String(50), primary_key=True, nullable=False),
                        Column('volatility', Float, nullable=False),
                        Column('profit_loss', Float, nullable=False))

        table.create(engine)

In [925]:
def create_pairprices_table(name, metadata, engine):
    tables = metadata.tables.keys()
    if name not in tables:
        table = Table(name, metadata, 
					Column('ticker1', String(50), primary_key=True, nullable=False),
					Column('ticker2', String(50), primary_key=True, nullable=False),
					Column('date', String(50), primary_key=True, nullable=False),
					Column('open1', Float, nullable=False),
					Column('close1', Float, nullable=False),
					Column('open2', Float, nullable=False),
					Column('close2', Float, nullable=False))
        
        table.create(engine)

In [926]:
def create_trades_table(name, metadata, engine):
    tables = metadata.tables.keys()
    if name not in tables:
        table = Table(name, metadata, 
					Column('ticker1', String(50), primary_key=True, nullable=False),
					Column('ticker2', String(50), primary_key=True, nullable=False),
					Column('date', String(50), primary_key=True, nullable=False),
					Column('profit_loss', Float, nullable=False))
        
        table.create(engine)

In [927]:
engine = create_engine('sqlite:///:memory:')
metadata = MetaData(engine)

In [928]:
create_pair_table('Pair1Stocks', metadata, engine)

In [929]:
create_pair_table('Pair2Stocks', metadata, engine)

In [930]:
create_pairs_table('Pairs', metadata, engine)

In [931]:
create_pairprices_table('PairPrices', metadata, engine)

In [932]:
create_trades_table('Trades', metadata, engine)

In [933]:
metadata.tables.keys()

dict_keys(['Pair1Stocks', 'Pair2Stocks', 'Pairs', 'PairPrices', 'Trades'])

In [934]:
tickers = ['AAPL', 'HPQ']

In [935]:
populate_stock_data(tickers[0], metadata, engine, 'Pair1Stocks')

In [936]:
populate_stock_data(tickers[1], metadata, engine, 'Pair2Stocks')

In [944]:
sql_st = 'SELECT * FROM Pair1Stocks'
result = execute_sql_statement(sql_st, engine)
result.fetchall()

[('AAPL', '2018-01-02', 170.16, 172.3, 169.26, 172.26, 168.9872, 25555934),
 ('AAPL', '2018-01-03', 172.53, 174.55, 171.96, 172.23, 168.9579, 29517899),
 ('AAPL', '2018-01-04', 172.54, 173.47, 172.08, 173.03, 169.7427, 22434597),
 ('AAPL', '2018-01-05', 173.44, 175.37, 173.05, 175.0, 171.6752, 23660018),
 ('AAPL', '2018-01-08', 174.35, 175.61, 173.93, 174.35, 171.0377, 20567766),
 ('AAPL', '2018-01-09', 174.55, 175.06, 173.41, 174.33, 171.018, 21583997),
 ('AAPL', '2018-01-10', 173.16, 174.3, 173.0, 174.29, 170.9788, 23959895),
 ('AAPL', '2018-01-11', 174.59, 175.4886, 174.49, 175.28, 171.95, 18667729),
 ('AAPL', '2018-01-12', 176.18, 177.36, 175.65, 177.09, 173.7255, 25418080),
 ('AAPL', '2018-01-16', 177.9, 179.39, 176.14, 176.19, 172.8427, 29565947),
 ('AAPL', '2018-01-17', 176.15, 179.25, 175.07, 179.1, 175.6973, 34386836),
 ('AAPL', '2018-01-18', 179.37, 180.1, 178.25, 179.26, 175.8544, 31193352),
 ('AAPL', '2018-01-19', 178.61, 179.58, 177.41, 178.46, 175.0695, 32425067),
 ('AAPL', '2018-01-22', 177.3, 177.78, 176.6016, 177.0, 173.6374, 27108551),
 ('AAPL', '2018-01-23', 177.3, 179.44, 176.82, 177.04, 173.6765, 32689146),
 ('AAPL', '2018-01-24', 177.25, 177.3, 173.2, 174.22, 170.9101, 51105090),
 ('AAPL', '2018-01-25', 174.505, 174.95, 170.53, 171.11, 167.8592, 41529004),
 ('AAPL', '2018-01-26', 172.0, 172.0, 170.06, 171.51, 168.2516, 39143011),
 ('AAPL', '2018-01-29', 170.16, 170.16, 167.07, 167.96, 164.7689, 50640406),
 ('AAPL', '2018-01-30', 165.525, 167.37, 164.7, 166.97, 163.7978, 46048185),
 ('AAPL', '2018-01-31', 166.87, 168.4417, 166.5, 167.43, 164.2492, 32478930),
 ('AAPL', '2018-02-01', 167.165, 168.62, 166.76, 167.78, 164.5924, 47230787),
 ('AAPL', '2018-02-02', 166.0, 166.8, 160.1, 160.5, 157.4508, 86593825),
 ('AAPL', '2018-02-05', 159.1, 163.88, 156.0, 156.49, 153.517, 72738522),
 ('AAPL', '2018-02-06', 154.83, 163.72, 154.0, 163.03, 159.9327, 68243838),
 ('AAPL', '2018-02-07', 163.085, 163.4, 159.0685, 159.54, 156.509, 51608580),
 ('AAPL', '2018-02-08', 160.29, 161.0, 155.03, 155.15, 152.2024, 54390516),
 ('AAPL', '2018-02-09', 157.07, 157.89, 150.24, 156.41, 154.064, 70672608),
 ('AAPL', '2018-02-12', 158.5, 163.89, 157.51, 162.71, 160.2695, 60819539),
 ('AAPL', '2018-02-13', 161.95, 164.75, 161.65, 164.34, 161.8751, 32549163),
 ('AAPL', '2018-02-14', 163.045, 167.54, 162.88, 167.37, 164.8596, 40644933),
 ('AAPL', '2018-02-15', 169.79, 173.09, 169.0, 172.99, 170.3954, 51147171),
 ('AAPL', '2018-02-16', 172.36, 174.82, 171.77, 172.43, 169.8437, 40176091),
 ('AAPL', '2018-02-20', 172.05, 174.26, 171.42, 171.85, 169.2724, 33930540),
 ('AAPL', '2018-02-21', 172.83, 174.12, 171.01, 171.07, 168.5041, 37471623),
 ('AAPL', '2018-02-22', 171.8, 173.95, 171.71, 172.5, 169.9128, 30991940),
 ('AAPL', '2018-02-23', 173.67, 175.65, 173.54, 175.5, 172.8678, 33812360),
 ('AAPL', '2018-02-26', 176.35, 179.39, 176.21, 178.97, 176.2856, 38162174),
 ('AAPL', '2018-02-27', 179.1, 180.48, 178.16, 178.39, 175.7145, 38928125),
 ('AAPL', '2018-02-28', 179.26, 180.615, 178.05, 178.12, 175.4484, 37782138),
 ('AAPL', '2018-03-01', 178.54, 179.775, 172.66, 175.0, 172.3753, 48801970),
 ('AAPL', '2018-03-02', 172.8, 176.3, 172.45, 176.21, 173.567, 38453950),
 ('AAPL', '2018-03-05', 175.21, 177.74, 174.52, 176.82, 174.1679, 28401366),
 ('AAPL', '2018-03-06', 177.91, 178.25, 176.13, 176.67, 174.0202, 23788506),
 ('AAPL', '2018-03-07', 174.94, 175.85, 174.27, 175.03, 172.4048, 31703462),
 ('AAPL', '2018-03-08', 175.48, 177.12, 175.07, 176.94, 174.2861, 23774107),
 ('AAPL', '2018-03-09', 177.96, 180.0, 177.39, 179.98, 177.2805, 32185162),
 ('AAPL', '2018-03-12', 180.29, 182.39, 180.21, 181.72, 178.9945, 32207081),
 ('AAPL', '2018-03-13', 182.59, 183.5, 179.24, 179.97, 177.2707, 31693529),
 ('AAPL', '2018-03-14', 180.32, 180.52, 177.81, 178.44, 175.7637, 29368356),
 ('AAPL', '2018-03-15', 178.5, 180.24, 178.0701, 178.65, 175.9705, 22743798),
 ('AAPL', '2018-03-16', 178.65, 179.12, 177.62, 178.02, 175.35, 39404688),
 ('AAPL', '2018-03-19', 177.32, 177.47, 173.66, 175.3, 172.6706, 33446771),
 ('AAPL', '2018-03-20', 175.24, 176.8, 174.94, 175.24, 172.6116, 19649350),
 ('AAPL', '2018-03-21', 175.04, 175.09, 171.26, 171.27, 168.7012, 37054935),
 ('AAPL', '2018-03-22', 170.0, 172.68, 168.6, 168.85, 166.3175, 41490767),
 ('AAPL', '2018-03-23', 168.39, 169.92, 164.94, 164.94, 162.4661, 41028784),
 ('AAPL', '2018-03-26', 168.07, 173.1, 166.44, 172.77, 170.1786, 37541236),
 ('AAPL', '2018-03-27', 173.68, 175.15, 166.92, 168.34, 165.8151, 40922579),
 ('AAPL', '2018-03-28', 167.25, 170.02, 165.19, 166.48, 163.983, 41668545),
 ('AAPL', '2018-03-29', 167.805, 171.75, 166.9, 167.78, 165.2635, 38398505),
 ('AAPL', '2018-04-02', 167.88, 168.94, 164.47, 166.68, 164.18, 37586791),
 ('AAPL', '2018-04-03', 167.64, 168.7455, 164.88, 168.39, 165.8644, 30278046),
 ('AAPL', '2018-04-04', 164.88, 172.01, 164.77, 171.61, 169.0361, 34605489),
 ('AAPL', '2018-04-05', 172.58, 174.2304, 172.08, 172.8, 170.2082, 26933197),
 ('AAPL', '2018-04-06', 170.97, 172.48, 168.2, 168.38, 165.8545, 35005290),
 ('AAPL', '2018-04-09', 169.88, 173.09, 169.845, 170.05, 167.4995, 29017718),
 ('AAPL', '2018-04-10', 173.0, 174.0, 171.53, 173.25, 170.6514, 28614241),
 ('AAPL', '2018-04-11', 172.23, 173.9232, 171.7, 172.44, 169.8536, 22431640),
 ('AAPL', '2018-04-12', 173.41, 175.0, 173.04, 174.14, 171.528, 22889285),
 ('AAPL', '2018-04-13', 174.78, 175.84, 173.85, 174.73, 172.1093, 25124255),
 ('AAPL', '2018-04-16', 175.0301, 176.19, 174.8301, 175.82, 173.1828, 21529724),
 ('AAPL', '2018-04-17', 176.49, 178.9365, 176.41, 178.24, 175.5666, 26605442),
 ('AAPL', '2018-04-18', 177.81, 178.82, 176.88, 177.84, 175.1727, 20754538),
 ('AAPL', '2018-04-19', 174.95, 175.39, 172.66, 172.8, 170.2082, 34808800),
 ('AAPL', '2018-04-20', 170.595, 171.2184, 165.43, 165.72, 163.2344, 65491140),
 ('AAPL', '2018-04-23', 166.8348, 166.92, 164.09, 165.24, 162.7616, 36515477),
 ('AAPL', '2018-04-24', 165.67, 166.33, 161.2201, 162.94, 160.4961, 33692017),
 ('AAPL', '2018-04-25', 162.62, 165.42, 162.41, 163.65, 161.1956, 28382084),
 ('AAPL', '2018-04-26', 164.12, 165.73, 163.37, 164.22, 161.757, 27963014),
 ('AAPL', '2018-04-27', 164.0, 164.33, 160.63, 162.32, 159.8854, 35655839),
 ('AAPL', '2018-04-30', 162.1302, 167.26, 161.84, 165.26, 162.7814, 42427424),
 ('AAPL', '2018-05-01', 166.4102, 169.2, 165.27, 169.1, 166.5636, 53569376),
 ('AAPL', '2018-05-02', 175.225, 177.75, 173.8, 176.57, 173.9217, 66539371),
 ('AAPL', '2018-05-03', 175.88, 177.5, 174.4411, 176.89, 174.2369, 34068180),
 ('AAPL', '2018-05-04', 178.25, 184.25, 178.17, 183.83, 181.0728, 56201317),
 ('AAPL', '2018-05-07', 185.18, 187.67, 184.75, 185.16, 182.3828, 42451423),
 ('AAPL', '2018-05-08', 184.99, 186.22, 183.665, 186.05, 183.2594, 28402777),
 ('AAPL', '2018-05-09', 186.55, 187.4, 185.22, 187.36, 184.5498, 23211241),
 ('AAPL', '2018-05-10', 187.74, 190.37, 187.65, 190.04, 187.1897, 27989289),
 ('AAPL', '2018-05-11', 189.49, 190.06, 187.45, 188.59, 186.4777, 26212221),
 ('AAPL', '2018-05-14', 189.01, 189.53, 187.86, 188.15, 186.0426, 20778772),
 ('AAPL', '2018-05-15', 186.78, 187.07, 185.1, 186.44, 184.3517, 23695159),
 ('AAPL', '2018-05-16', 186.07, 188.46, 186.0, 188.18, 186.0723, 19183064),
 ('AAPL', '2018-05-17', 188.0, 188.91, 186.36, 186.99, 184.8956, 17294029),
 ('AAPL', '2018-05-18', 187.19, 187.8102, 186.13, 186.31, 184.2233, 18297728),
 ('AAPL', '2018-05-21', 188.0, 189.27, 186.9106, 187.63, 185.5285, 18400787),
 ('AAPL', '2018-05-22', 188.375, 188.88, 186.78, 187.16, 185.0637, 15240704),
 ('AAPL', '2018-05-23', 186.35, 188.5, 185.76, 188.36, 186.2503, 20058415),
 ('AAPL', '2018-05-24', 188.77, 188.84, 186.21, 188.15, 186.0426, 23233975),
 ('AAPL', '2018-05-25', 188.23, 189.65, 187.65, 188.58, 186.4678, 17460963),
 ('AAPL', '2018-05-29', 187.6, 188.75, 186.87, 187.9, 185.7955, 22514075),
 ('AAPL', '2018-05-30', 187.72, 188.0, 186.78, 187.5, 185.3999, 18690547),
 ('AAPL', '2018-05-31', 187.22, 188.23, 186.14, 186.87, 184.7769, 27482793),
 ('AAPL', '2018-06-01', 187.9912, 190.26, 187.75, 190.24, 188.1091, 23442510),
 ('AAPL', '2018-06-04', 191.635, 193.42, 191.35, 191.83, 189.6814, 26266174),
 ('AAPL', '2018-06-05', 193.065, 193.94, 192.36, 193.31, 191.1448, 21565963),
 ('AAPL', '2018-06-06', 193.63, 194.08, 191.92, 193.98, 191.8074, 20933619),
 ('AAPL', '2018-06-07', 194.14, 194.2, 192.335, 193.46, 191.2932, 21347180),
 ('AAPL', '2018-06-08', 191.17, 192.0, 189.77, 191.7, 189.5528, 26656799),
 ('AAPL', '2018-06-11', 191.35, 191.97, 190.21, 191.23, 189.0881, 18308460),
 ('AAPL', '2018-06-12', 191.385, 192.611, 191.15, 192.28, 190.1264, 16911141),
 ('AAPL', '2018-06-13', 192.42, 192.88, 190.44, 190.7, 188.5641, 21638393),
 ('AAPL', '2018-06-14', 191.55, 191.57, 190.22, 190.8, 188.663, 21610074),
 ('AAPL', '2018-06-15', 190.03, 190.16, 188.26, 188.84, 186.7249, 61719160),
 ('AAPL', '2018-06-18', 187.88, 189.22, 187.2, 188.74, 186.626, 18484865),
 ('AAPL', '2018-06-19', 185.14, 186.33, 183.45, 185.69, 183.6101, 33578455),
 ('AAPL', '2018-06-20', 186.35, 187.2, 185.73, 186.5, 184.4111, 20628701),
 ('AAPL', '2018-06-21', 187.25, 188.35, 184.94, 185.46, 183.3827, 25711898),
 ('AAPL', '2018-06-22', 186.12, 186.15, 184.7, 184.92, 182.8488, 27200447),
 ('AAPL', '2018-06-25', 183.4, 184.92, 180.73, 182.17, 180.1296, 31663096),
 ('AAPL', '2018-06-26', 182.99, 186.53, 182.54, 184.43, 182.3643, 24569201),
 ('AAPL', '2018-06-27', 185.2278, 187.28, 184.03, 184.16, 182.0973, 25285328),
 ('AAPL', '2018-06-28', 184.1, 186.21, 183.8, 185.5, 183.4223, 17365235),
 ('AAPL', '2018-06-29', 186.29, 187.19, 182.91, 185.11, 183.0367, 22737666),
 ('AAPL', '2018-07-02', 183.82, 187.3, 183.42, 187.18, 185.0834, 17731343),
 ('AAPL', '2018-07-03', 187.79, 187.95, 183.54, 183.92, 181.8599, 13954806),
 ('AAPL', '2018-07-05', 185.26, 186.41, 184.28, 185.4, 183.3235, 16604248),
 ('AAPL', '2018-07-06', 185.42, 188.434, 185.2, 187.97, 185.8647, 17485245),
 ('AAPL', '2018-07-09', 189.5, 190.68, 189.3, 190.58, 188.4455, 19756634),
 ('AAPL', '2018-07-10', 190.71, 191.28, 190.1801, 190.35, 188.2181, 15939149),
 ('AAPL', '2018-07-11', 188.5, 189.7799, 187.61, 187.88, 185.7756, 18831470),
 ('AAPL', '2018-07-12', 189.53, 191.41, 189.31, 191.03, 188.8904, 18041131),
 ('AAPL', '2018-07-13', 191.08, 191.84, 190.9, 191.33, 189.187, 12519792),
 ('AAPL', '2018-07-16', 191.52, 192.65, 190.415, 190.91, 188.7717, 15043110),
 ('AAPL', '2018-07-17', 189.75, 191.87, 189.2, 191.45, 189.3057, 15534523),
 ('AAPL', '2018-07-18', 191.78, 191.8, 189.93, 190.4, 188.2675, 16393381),
 ('AAPL', '2018-07-19', 189.69, 192.55, 189.69, 191.88, 189.7309, 20286752),
 ('AAPL', '2018-07-20', 191.78, 192.43, 190.17, 191.44, 189.2957, 20706042),
 ('AAPL', '2018-07-23', 190.68, 191.96, 189.56, 191.61, 189.4639, 15989365),
 ('AAPL', '2018-07-24', 192.45, 193.6601, 192.05, 193.0, 190.8383, 18697898),
 ('AAPL', '2018-07-25', 193.0602, 194.85, 192.43, 194.82, 192.6379, 16826483),
 ('AAPL', '2018-07-26', 194.61, 195.96, 193.61, 194.21, 192.0348, 19075964),
 ('AAPL', '2018-07-27', 194.99, 195.19, 190.1, 190.98, 188.841, 24023972),
 ('AAPL', '2018-07-30', 191.9, 192.2, 189.07, 189.91, 187.7829, 21029535),
 ('AAPL', '2018-07-31', 190.3, 192.14, 189.34, 190.29, 188.1587, 39373038),
 ('AAPL', '2018-08-01', 199.13, 201.76, 197.31, 201.5, 199.2431, 67935716),
 ('AAPL', '2018-08-02', 200.58, 208.38, 200.35, 207.39, 205.0671, 62404012),
 ('AAPL', '2018-08-03', 207.03, 208.74, 205.4803, 207.99, 205.6604, 33447396),
 ('AAPL', '2018-08-06', 208.0, 209.25, 207.07, 209.07, 206.7283, 25425387),
 ('AAPL', '2018-08-07', 209.32, 209.5, 206.76, 207.11, 204.7903, 25587387),
 ('AAPL', '2018-08-08', 206.05, 207.81, 204.52, 207.25, 204.9287, 22525487),
 ('AAPL', '2018-08-09', 207.28, 209.78, 207.2, 208.88, 206.5405, 23492626),
 ('AAPL', '2018-08-10', 207.36, 209.1, 206.67, 207.53, 205.9252, 24611202),
 ('AAPL', '2018-08-13', 207.7, 210.952, 207.7, 208.87, 207.2549, 25890880),
 ('AAPL', '2018-08-14', 210.155, 210.56, 208.26, 209.75, 208.1281, 20748010),
 ('AAPL', '2018-08-15', 209.22, 210.74, 208.33, 210.24, 208.6143, 28807564),
 ('AAPL', '2018-08-16', 211.75, 213.8121, 211.47, 213.32, 211.6705, 28500367),
 ('AAPL', '2018-08-17', 213.44, 217.95, 213.16, 217.58, 215.8976, 35426997),
 ('AAPL', '2018-08-20', 218.1, 219.18, 215.11, 215.46, 213.7939, 30287695),
 ('AAPL', '2018-08-21', 216.8, 217.19, 214.025, 215.04, 213.3772, 26159755),
 ('AAPL', '2018-08-22', 214.1, 216.36, 213.84, 215.05, 213.3871, 19018131),
 ('AAPL', '2018-08-23', 214.65, 217.05, 214.6, 215.49, 213.8236, 18883224),
 ('AAPL', '2018-08-24', 216.6, 216.9, 215.11, 216.16, 214.4885, 18476356),
 ('AAPL', '2018-08-27', 217.15, 218.74, 216.33, 217.94, 216.2547, 20525117),
 ('AAPL', '2018-08-28', 219.01, 220.54, 218.92, 219.7, 218.0011, 22776766),
 ('AAPL', '2018-08-29', 220.15, 223.49, 219.41, 222.98, 221.2558, 27254804),
 ('AAPL', '2018-08-30', 223.25, 228.26, 222.4, 225.03, 223.2899, 48793824),
 ('AAPL', '2018-08-31', 226.51, 228.87, 226.0, 227.63, 225.8698, 43340134),
 ('AAPL', '2018-09-04', 228.41, 229.18, 226.63, 228.36, 226.5942, 27390132),
 ('AAPL', '2018-09-05', 228.99, 229.67, 225.1, 226.87, 225.1157, 33332960),
 ('AAPL', '2018-09-06', 226.23, 227.35, 221.3, 223.1, 221.3749, 34289976),
 ('AAPL', '2018-09-07', 221.85, 225.37, 220.71, 221.3, 219.5887, 37619810),
 ('AAPL', '2018-09-10', 220.95, 221.85, 216.47, 218.33, 216.6418, 39516453),
 ('AAPL', '2018-09-11', 218.01, 224.299, 216.56, 223.85, 222.1191, 35749049),
 ('AAPL', '2018-09-12', 224.94, 225.0, 219.84, 221.07, 219.3605, 49278740),
 ('AAPL', '2018-09-13', 223.52, 228.35, 222.57, 226.41, 224.6593, 41706377),
 ('AAPL', '2018-09-14', 225.75, 226.84, 222.522, 223.84, 222.1091, 31999289),
 ('AAPL', '2018-09-17', 222.15, 222.95, 217.27, 217.88, 216.1952, 37195133),
 ('AAPL', '2018-09-18', 217.79, 221.85, 217.12, 218.24, 216.5524, 31571712),
 ('AAPL', '2018-09-19', 218.5, 219.62, 215.3, 218.37, 216.6814, 27123833),
 ('AAPL', '2018-09-20', 220.24, 222.28, 219.15, 220.03, 218.3286, 26608794),
 ('AAPL', '2018-09-21', 220.78, 221.36, 217.29, 217.66, 215.9769, 96246748),
 ('AAPL', '2018-09-24', 216.82, 221.26, 216.63, 220.79, 219.0827, 27693358),
 ('AAPL', '2018-09-25', 219.75, 222.82, 219.7, 222.19, 220.4718, 24554379),
 ('AAPL', '2018-09-26', 221.0, 223.75, 219.76, 220.42, 218.7156, 23984706),
 ('AAPL', '2018-09-27', 223.82, 226.44, 223.54, 224.95, 223.2105, 30181227),
 ('AAPL', '2018-09-28', 224.79, 225.84, 224.02, 225.74, 223.9944, 22929364),
 ('AAPL', '2018-10-01', 227.95, 229.42, 226.35, 227.26, 225.5027, 23600802),
 ('AAPL', '2018-10-02', 227.25, 230.0, 226.63, 229.28, 227.5071, 24788170),
 ('AAPL', '2018-10-03', 230.05, 233.47, 229.78, 232.07, 230.2755, 28654799),
 ('AAPL', '2018-10-04', 230.78, 232.35, 226.73, 227.99, 226.2271, 32042000),
 ('AAPL', '2018-10-05', 227.96, 228.41, 220.58, 224.29, 222.5556, 33580463),
 ('AAPL', '2018-10-08', 222.21, 224.8, 220.2, 223.77, 222.0396, 29663923),
 ('AAPL', '2018-10-09', 223.64, 227.27, 222.2462, 226.87, 225.1157, 26891029),
 ('AAPL', '2018-10-10', 225.46, 226.35, 216.05, 216.36, 214.6869, 41990554),
 ('AAPL', '2018-10-11', 214.52, 219.5, 212.32, 214.45, 212.7918, 53124392),
 ('AAPL', '2018-10-12', 220.42, 222.88, 216.84, 222.11, 220.3925, 40337851),
 ('AAPL', '2018-10-15', 221.16, 221.83, 217.27, 217.36, 215.6792, 30791007),
 ('AAPL', '2018-10-16', 218.93, 222.99, 216.7627, 222.15, 220.4322, 29183963),
 ('AAPL', '2018-10-17', 222.3, 222.64, 219.34, 221.19, 219.4796, 22885397),
 ('AAPL', '2018-10-18', 217.86, 219.74, 213.0, 216.02, 214.3496, 32581315),
 ('AAPL', '2018-10-19', 218.06, 221.26, 217.43, 219.31, 217.6142, 33078726),
 ('AAPL', '2018-10-22', 219.79, 223.36, 218.94, 220.65, 218.9438, 28792082),
 ('AAPL', '2018-10-23', 215.83, 223.25, 214.7, 222.73, 221.0077, 38767846),
 ('AAPL', '2018-10-24', 222.6, 224.23, 214.54, 215.09, 213.4268, 40925163),
 ('AAPL', '2018-10-25', 217.71, 221.38, 216.75, 219.8, 218.1004, 29855768),
 ('AAPL', '2018-10-26', 215.9, 220.19, 212.67, 216.3, 214.6274, 47258375),
 ('AAPL', '2018-10-29', 219.19, 219.69, 206.09, 212.24, 210.5988, 45935520),
 ('AAPL', '2018-10-30', 211.15, 215.18, 209.27, 213.3, 211.6507, 36659990),
 ('AAPL', '2018-10-31', 216.88, 220.45, 216.62, 218.86, 217.1676, 38358933),
 ('AAPL', '2018-11-01', 219.05, 222.36, 216.81, 222.22, 220.5016, 58323180),
 ('AAPL', '2018-11-02', 209.55, 213.65, 205.43, 207.48, 205.8756, 91328654),
 ('AAPL', '2018-11-05', 204.3, 204.39, 198.17, 201.59, 200.0312, 66163669),
 ('AAPL', '2018-11-06', 201.92, 204.72, 201.69, 203.77, 202.1943, 31882881),
 ('AAPL', '2018-11-07', 205.97, 210.06, 204.13, 209.95, 208.3265, 33424434),
 ('AAPL', '2018-11-08', 209.98, 210.12, 206.75, 208.49, 207.5996, 25362636),
 ('AAPL', '2018-11-09', 205.55, 206.01, 202.25, 204.47, 203.5968, 34365750),
 ('AAPL', '2018-11-12', 199.0, 199.85, 193.79, 194.17, 193.3408, 51135518),
 ('AAPL', '2018-11-13', 191.63, 197.18, 191.4501, 192.23, 191.4091, 46882936),
 ('AAPL', '2018-11-14', 193.9, 194.48, 185.93, 186.8, 186.0023, 60800957),
 ('AAPL', '2018-11-15', 188.39, 191.97, 186.9, 191.41, 190.5926, 46478801),
 ('AAPL', '2018-11-16', 190.5, 194.9695, 189.46, 193.53, 192.7035, 36928253),
 ('AAPL', '2018-11-19', 190.0, 190.7, 184.99, 185.86, 185.0663, 41920872),
 ('AAPL', '2018-11-20', 178.37, 181.47, 175.51, 176.98, 176.2242, 67825247),
 ('AAPL', '2018-11-21', 179.73, 180.27, 176.55, 176.78, 176.0251, 31124210),
 ('AAPL', '2018-11-23', 174.94, 176.595, 172.1, 172.29, 171.5542, 23623972),
 ('AAPL', '2018-11-26', 174.24, 174.95, 170.26, 174.62, 173.8743, 44998520),
 ('AAPL', '2018-11-27', 171.51, 174.77, 170.88, 174.24, 173.4959, 41387377),
 ('AAPL', '2018-11-28', 176.73, 181.29, 174.93, 180.94, 180.1673, 46062539),
 ('AAPL', '2018-11-29', 182.66, 182.8, 177.7, 179.55, 178.7832, 41769992),
 ('AAPL', '2018-11-30', 180.29, 180.33, 177.03, 178.58, 177.8174, 39531549),
 ('AAPL', '2018-12-03', 184.46, 184.94, 181.21, 184.82, 184.0307, 40798002),
 ('AAPL', '2018-12-04', 180.95, 182.3899, 176.27, 176.69, 175.9354, 41344282),
 ('AAPL', '2018-12-06', 171.76, 174.78, 170.42, 174.72, 173.9739, 43098410),
 ('AAPL', '2018-12-07', 173.49, 174.49, 168.3, 168.49, 167.7705, 42281631),
 ('AAPL', '2018-12-10', 165.0, 170.09, 163.33, 169.6, 168.8757, 62025994),
 ('AAPL', '2018-12-11', 171.66, 171.79, 167.0, 168.63, 167.9099, 47281665),
 ('AAPL', '2018-12-12', 170.4, 171.92, 169.02, 169.1, 168.3779, 35627674),
 ('AAPL', '2018-12-13', 170.49, 172.57, 169.55, 170.95, 170.22, 31897827),
 ('AAPL', '2018-12-14', 169.0, 169.08, 165.28, 165.48, 164.7733, 40703710),
 ('AAPL', '2018-12-17', 165.45, 168.35, 162.73, 163.94, 163.2399, 44287922),
 ('AAPL', '2018-12-18', 165.38, 167.53, 164.39, 166.07, 165.3608, 33841518),
 ('AAPL', '2018-12-19', 166.0, 167.45, 159.09, 160.89, 160.2029, 49047297),
 ('AAPL', '2018-12-20', 160.4, 162.11, 155.3, 156.83, 156.1603, 64772960),
 ('AAPL', '2018-12-21', 156.86, 158.16, 149.63, 150.73, 150.0863, 95744384),
 ('AAPL', '2018-12-24', 148.15, 151.55, 146.59, 146.83, 146.203, 37169232),
 ('AAPL', '2018-12-26', 148.3, 157.23, 146.72, 157.17, 156.4988, 58582544),
 ('AAPL', '2018-12-27', 155.84, 156.77, 150.07, 156.15, 155.4832, 53117065),
 ('AAPL', '2018-12-28', 157.5, 158.52, 154.55, 156.23, 155.5628, 42291424),
 ('AAPL', '2018-12-31', 158.53, 159.36, 156.48, 157.74, 157.0664, 35003466),
 ('AAPL', '2019-01-02', 154.89, 158.85, 154.23, 157.92, 157.2456, 37039737),
 ('AAPL', '2019-01-03', 143.98, 145.72, 142.0, 142.19, 141.5828, 91312195),
 ('AAPL', '2019-01-04', 144.53, 148.5499, 143.8, 148.26, 147.6269, 58607070),
 ('AAPL', '2019-01-07', 148.7, 148.83, 145.9, 147.93, 147.2983, 54777764),
 ('AAPL', '2019-01-08', 149.56, 151.82, 148.52, 150.75, 150.1062, 41025314),
 ('AAPL', '2019-01-09', 151.29, 154.53, 149.63, 153.31, 152.6553, 45099081),
 ('AAPL', '2019-01-10', 152.5, 153.97, 150.86, 153.8, 153.1432, 35780670),
 ('AAPL', '2019-01-11', 152.88, 153.7, 151.51, 152.29, 151.6396, 27023241),
 ('AAPL', '2019-01-14', 150.85, 151.27, 149.22, 150.0, 149.3594, 32439186),

In [945]:
k = 1

In [942]:
sql_st = 'SELECT adjusted_close FROM Pair1Stocks'
result1 = execute_sql_statement(sql_st, engine)
sql_st = 'SELECT adjusted_close FROM Pair2Stocks'
result2 = execute_sql_statement(sql_st, engine)

In [940]:
p1 = np.array(result1.fetchall())
p2 = np.array(result2.fetchall())

In [941]:
vol = np.std(p1/p2)
vol

0.599085419217168

In [861]:
sql_st = 'SELECT symbol, date, open, close FROM Pair1Stocks'

In [862]:
Prices1 = pd.read_sql(sql_st, engine)

In [863]:
sql_st = 'SELECT symbol, date, open, close FROM Pair2Stocks'

In [864]:
Prices2 = pd.read_sql(sql_st, engine)

In [865]:
Prices1.shape

(272, 4)

In [866]:
Prices2.head()

  symbol        date   open  close
0    HPQ  2018-01-02  21.18  21.32
1    HPQ  2018-01-03  21.31  21.37
2    HPQ  2018-01-04  21.40  21.53
3    HPQ  2018-01-05  21.61  21.75
4    HPQ  2018-01-08  21.78  21.84

In [867]:
def populate_pair_prices(tickers, metadata, engine, table_name):
    conn = engine.connect()
    table = metadata.tables[table_name]

    stock1 = get_daily_data(tickers[0])
    stock2 = get_daily_data(tickers[1])
    
    for s1, s2 in zip(stock1, stock2):
        trading_date = s1['date']
        trading_open1 = s1['open']
        trading_close1 = s1['close']
        trading_open2 = s2['open']
        trading_close2 = s2['close']
        
        insert_st = table.insert().values(ticker1=tickers[0], ticker2=tickers[1], date=trading_date,
					open1 = trading_open1, close1 = trading_close1,
					open2 = trading_open2, close2 = trading_close2)
    
        conn.execute(insert_st)

In [868]:
tickers = ['AAPL', 'HPQ']

In [869]:
populate_pair_prices(tickers, metadata, engine, 'PairPrices')

In [870]:
sql_st = 'SELECT * FROM PairPrices'

In [871]:
PairPrices = pd.read_sql(sql_st, engine)

In [872]:
PairPrices.head()

  ticker1 ticker2        date   open1  close1  open2  close2
0    AAPL     HPQ  2018-01-02  170.16  172.26  21.18   21.32
1    AAPL     HPQ  2018-01-03  172.53  172.23  21.31   21.37
2    AAPL     HPQ  2018-01-04  172.54  173.03  21.40   21.53
3    AAPL     HPQ  2018-01-05  173.44  175.00  21.61   21.75
4    AAPL     HPQ  2018-01-08  174.35  174.35  21.78   21.84

In [873]:
PnL = []

for i in range(1, len(PairPrices)):
    
    diff = abs( PairPrices.loc[i-1, 'close1'] / PairPrices.loc[i-1, 'close2'] \
    - PairPrices.loc[i, 'open1'] / PairPrices.loc[i, 'open2'] )
    
    if diff >= k*vol:
        # short the pair
        N1 = 10000
        N2 = (-N1) * ( PairPrices.loc[i, 'open1'] / PairPrices.loc[i, 'open2'] )
        # close the trade and calculate PnL
        r = N1 * ( PairPrices.loc[i, 'open1'] - PairPrices.loc[i, 'close1'] ) \
            + N2 * ( PairPrices.loc[i, 'open2'] - PairPrices.loc[i, 'close2'] )
        
    elif diff < k*vol:
        # long the pair
        N1 = -10000
        N2 = (-N1) * ( PairPrices.loc[i, 'open1'] / PairPrices.loc[i, 'open2'] )
        # close the trade and calculate PnL
        r = N1 * ( PairPrices.loc[i, 'open1'] - PairPrices.loc[i, 'close1'] ) \
            + N2 * ( PairPrices.loc[i, 'open2'] - PairPrices.loc[i, 'close2'] )
    
    PnL.append(r)

In [874]:
PnL.insert(0,0)

In [875]:
PairPrices['PnL'] = PnL

In [876]:
Trades = PairPrices[['ticker1', 'ticker2', 'date', 'PnL']]

In [877]:
Trades.head()

  ticker1 ticker2        date          PnL
0    AAPL     HPQ  2018-01-02     0.000000
1    AAPL     HPQ  2018-01-03 -7857.719381
2    AAPL     HPQ  2018-01-04 -5581.401869
3    AAPL     HPQ  2018-01-05  4363.720500
4    AAPL     HPQ  2018-01-08 -4803.030303

In [878]:
def populate_trades(tickers, metadata, engine, table_name):
    conn = engine.connect()
    table = metadata.tables[table_name]
    
    for i in range(len(Trades)):
        
        trading_date = Trades.loc[i, 'date']
        pnl = Trades.loc[i, 'PnL']
        
        insert_st = table.insert().values(ticker1=tickers[0], ticker2=tickers[1], date=trading_date,
					profit_loss = pnl)
    
        conn.execute(insert_st)

In [879]:
populate_trades(tickers, metadata, engine, 'Trades')

In [880]:
sql_st = 'SELECT * FROM Trades'
result = execute_sql_statement(sql_st, engine)

In [881]:
total_PnL = Trades['PnL'].sum()

In [882]:
def populate_pairs(tickers, metadata, engine, table_name):
    conn = engine.connect()
    table = metadata.tables[table_name]
                    
    insert_st = table.insert().values(ticker1=tickers[0], ticker2=tickers[1], volatility=vol,
				profit_loss = total_PnL)
    
    conn.execute(insert_st)

In [883]:
populate_pairs(tickers, metadata, engine, 'Pairs')

In [884]:
sql_st = 'SELECT * FROM Pairs'
result = execute_sql_statement(sql_st, engine)

In [885]:
result.fetchall()

[('AAPL', 'HPQ', 0.599085419217168, 57418.89425504301)]

In [886]:
metadata.tables['Pairs']

Table('Pairs', MetaData(bind=Engine(sqlite:///:memory:)), Column('ticker1', String(length=50), table=<Pairs>, primary_key=True, nullable=False), Column('ticker2', String(length=50), table=<Pairs>, primary_key=True, nullable=False), Column('volatility', Float(), table=<Pairs>, nullable=False), Column('profit_loss', Float(), table=<Pairs>, nullable=False), schema=None)

In [966]:
s = backtest_start.strftime('%Y-%m-%d')
e = backtest_end.strftime('%Y-%m-%d')

In [973]:
sql_st = '''
SELECT Pair1Stocks.symbol, Pair2Stocks.symbol, Pair1Stocks.date, Pair1Stocks.open, Pair1Stocks.close, Pair2Stocks.open, Pair2Stocks.close 
FROM Pair1Stocks, Pair2Stocks 
WHERE ((Pair1Stocks.date >= \'''' + s + "\' AND Pair1Stocks.date <= \'" + e + "\') AND (Pair1Stocks.date = Pair2Stocks.date))"

In [974]:
sql_st

"\nSELECT Pair1Stocks.symbol, Pair2Stocks.symbol, Pair1Stocks.date, Pair1Stocks.open, Pair1Stocks.close, Pair2Stocks.open, Pair2Stocks.close \nFROM Pair1Stocks, Pair2Stocks \nWHERE ((Pair1Stocks.date >= '2018-12-31' AND Pair1Stocks.date <= '2019-01-31') AND (Pair1Stocks.date = Pair2Stocks.date))"

In [ ]:
result.fetchall()

In [990]:
def populate_pairprices(tickers, metadata, engine):
    conn = engine.connect()
    table = metadata.tables['PairPrices']
    
    sql_st = '''
SELECT Pair1Stocks.symbol, Pair2Stocks.symbol, Pair1Stocks.date, Pair1Stocks.open, Pair1Stocks.close, Pair2Stocks.open, Pair2Stocks.close 
FROM Pair1Stocks, Pair2Stocks 
WHERE ((Pair1Stocks.date >= \'''' + s + "\' AND Pair1Stocks.date <= \'" + e + "\') AND (Pair1Stocks.date = Pair2Stocks.date))"
    
    result = execute_sql_statement(sql_st, engine)
    
    for r in result:
        insert_st = table.insert().values(ticker1=tickers[0], ticker2=tickers[1], date=r[2],
					open1 = r[3], close1 = r[4],
					open2 = r[5], close2 = r[6])
    
        conn.execute(insert_st)

In [988]:
result = execute_sql_statement(sql_st, engine)

In [989]:
for r in result:
    print(r)

('AAPL', 'HPQ', '2018-12-31', 158.53, 157.74, 20.49, 20.46)
('AAPL', 'HPQ', '2019-01-02', 154.89, 157.92, 20.03, 20.63)
('AAPL', 'HPQ', '2019-01-03', 143.98, 142.19, 20.35, 19.93)
('AAPL', 'HPQ', '2019-01-04', 144.53, 148.26, 20.38, 20.72)
('AAPL', 'HPQ', '2019-01-07', 148.7, 147.93, 20.75, 20.95)
('AAPL', 'HPQ', '2019-01-08', 149.56, 150.75, 21.22, 21.21)
('AAPL', 'HPQ', '2019-01-09', 151.29, 153.31, 21.34, 21.21)
('AAPL', 'HPQ', '2019-01-10', 152.5, 153.8, 21.12, 21.47)
('AAPL', 'HPQ', '2019-01-11', 152.88, 152.29, 21.24, 21.17)
('AAPL', 'HPQ', '2019-01-14', 150.85, 150.0, 20.94, 20.79)
('AAPL', 'HPQ', '2019-01-15', 150.27, 153.07, 20.8, 21.01)
('AAPL', 'HPQ', '2019-01-16', 153.08, 154.94, 20.95, 21.05)
('AAPL', 'HPQ', '2019-01-17', 154.2, 155.86, 20.95, 21.23)
('AAPL', 'HPQ', '2019-01-18', 157.5, 156.82, 21.36, 21.75)
('AAPL', 'HPQ', '2019-01-22', 156.41, 153.3, 21.62, 21.32)
('AAPL', 'HPQ', '2019-01-23', 154.15, 153.92, 21.41, 21.44)
('AAPL', 'HPQ', '2019-01-24', 154.11, 152.7, 21.55, 21.77)
('AAPL', 'HPQ', '2019-01-25', 155.48, 157.76, 21.94, 22.1)
('AAPL', 'HPQ', '2019-01-28', 155.79, 156.3, 21.83, 21.98)
('AAPL', 'HPQ', '2019-01-29', 156.25, 154.68, 22.12, 21.88)
('AAPL', 'HPQ', '2019-01-30', 163.25, 165.25, 22.09, 22.2)
('AAPL', 'HPQ', '2019-01-31', 166.11, 166.44, 22.2, 22.03)

In [ ]:
populate_pairprices(tickers, metadata, engine)